@model IEnumerable<CHBHTH.Models.ChiTietDonHang>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutClient2.cshtml";
}

<center>
    <h2>Order details</h2>

    <table class="table">
        <tr>
            <th>
                Product
            </th>
            <th>
                Quantity
            </th>
            <th>
                Unit price
            </th>
            <th>
                Total
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SanPham.TenSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @String.Format("{0:0,0}", item.DonGia) VNĐ
                </td>
                <td>
                    @String.Format("{0:0,0}", item.ThanhTien) VNĐ
                </td>
            </tr>
        }

    </table>

<button class="btn btn-secondary">
    @Html.ActionLink("Back", "Index", "Donhangs", new { area = "" }, new { @class = "nav-link py-1 px-0 px-lg-1 rounded" })
</button>
</center> <br />